doctype html
html(lang="en")
  head
    title= title
  body
    ul
      li: a(href='/basic/test') test
      li: a(href='/basic/test2') test2
      li: a(href='/basic/test3') test3
      li: a(href='/basic/error') error
      li: a(href='/basic/test333') not found
    script(type='text/javascript', src='main.js')
